/*Dashboard Header*/
.dashboard-header {
    padding-top: 26px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px; 
}

.dashboard-header > h1{
   text-align: center;
    margin: unset;
}

.dashboard-header .primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-header .primary-button .bi {
    margin-left: 5px;
    /* Adjust the margin between the text & bs icon */
}

/*Dash Highlight Cards*/
.highlights-container{
    padding: 16px 88px 36px 88px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    gap: 56px;
}
.highlight-article{
    background-color: var(--foreground);
    border-radius: var(--border-radius);
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.highlight-article > p{
    margin: unset;
}
#income-label{
    color: var(--green-label);
}
#expense-label{
    color: var(--red-label);
}

.highlight-article > .primary-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}
/*Highlight Cards Mobile*/
@media screen and (max-width: 950px) {
    .highlights-container{
        grid-template-columns: 1fr 1fr;
        gap: 28px;
    }
    .highlight-article.goal-widget {
        /* Move the goal widget to last in stack. 
        Making income & expense side by side */
        order: 1; 
        grid-column: span 2; 
    }
    .highlight-article > .primary-button{
        width: 140px;
    }
}
@media screen and (max-width: 700px){
    .highlights-container{
        grid-template-columns: 1fr;
    }
    .highlight-article.goal-widget {
        /* Move the goal widget to top of stack*/
        order: -1; 
        grid-column: unset; 
    }
}

/*Dash pie chart & expense section*/
.dashboard-expense-chart-container {
    background-color: var(--foreground);
    padding: 34px 76px;
    margin: 0 150px 36px 150px;

    border-radius: var(--border-radius);
}
.pie-chart-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.data-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dashboard-expense-chart-container h4{
    padding-bottom: 34px;
}
/*Expenses breakdown list*/
.expense-list-container{
    display: flex;
    justify-content: center;
}