<section>
    <div class="dashboard-header">
        <h1>Month Overview</h1>
        <a href="#" class="primary-button change-date-button">Month Year <i class="bi bi-calendar"></i></a>    </div>

<div class="dashboard-highlights-container">
    <article class="highlight-card">
        <span id="income-card-value">$2,000</span>
        <p id="income-label">Income</p>
    </article>

    <article class="goal-widget">
    <span id="goal-alert-value">You are $200,000 Over Budget!</span>
    <a class="primary-button manage-goal-button">Manage Goal</a>
    </article>

    <article class="highlight-card">
        <span id="expense-highlight-value">$2,000</span>
        <p id="expense-label">Expense</p>
    </article>
</div>
</section>
<section class="dashboard-expense-chart-container">
    <h3>Total Expenses For Month</h3>
    <div class="pie-chart-container"></div>
    <div class="expense-list-container">

    </div>
</section>