<div class="page-wrapper">
  <section>
    <!-- <div class="dashboard-header">
    <h1>Month Overview</h1>
    <div class="calender-button-container">
      <a href="#" class="primary-button"
        >Month Year <i class="bi bi-calendar"></i
      ></a>
    </div>
  </div> -->

    <section class="highlights-container">
      <article class="highlight-article" id="income-article">
        <h3 id="income-value">$2,000</h3>
        <p id="income-label">Income</p>
      </article>

      <article class="highlight-article goal-widget">
        <h3>
          You are <span id="goal-value">$200,000</span>
          <span id="goal-warning-label"> Over Budget</span>
        </h3>
        <a href="#" class="primary-button manage-goal-button">Manage Goal</a>
      </article>

      <article class="highlight-article" id="expense-article">
        <h3 id="expense-value">$2,000</h3>
        <p id="expense-label">Expenses</p>
      </article>
    </section>
  </section>

  <section class="dashboard-expense-chart-container">
    <h4>Total Expenses For Month</h4>
    <div class="data-wrapper">
      <div class="pie-chart-container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="340"
          height="340"
          fill="currentColor"
          class="bi bi-pie-chart"
          id="pie-chart-placeholder"
          viewBox="0 0 16 16"
        >
          <path
            d="M7.5 1.018a7 7 0 0 0-4.79 11.566L7.5 7.793zm1 0V7.5h6.482A7 7 0 0 0 8.5 1.018M14.982 8.5H8.207l-4.79 4.79A7 7 0 0 0 14.982 8.5M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8"
          />
        </svg>
      </div>
      <div class="expense-list-container">
        <ul class="expense-list">
          <li class="expense-item">
            <i class="bi bi-circle-fill category-indicator"></i>
            <span class="category-name">Housing</span>
            <span class="amount-spent">$200.99</span>
            <span class="percentage">5.2%</span>
          </li>
          <li class="expense-item">
            <i class="bi bi-circle-fill category-indicator"></i>
            <span class="category-name">Food</span>
            <span class="amount-spent">$200.99</span>
            <span class="percentage">5.2%</span>
          </li>
          <li class="expense-item">
            <i class="bi bi-circle-fill category-indicator"></i>
            <span class="category-name">Healthcare</span>
            <span class="amount-spent">$200.99</span>
            <span class="percentage">5.2%</span>
          </li>
          <li class="expense-item">
            <i class="bi bi-circle-fill category-indicator"></i>
            <span class="category-name">Transportation</span>
            <span class="amount-spent">$200.99</span>
            <span class="percentage">5.2%</span>
          </li>
          <li class="expense-item">
            <i class="bi bi-circle-fill category-indicator"></i>
            <span class="category-name">Entertainment</span>
            <span class="amount-spent">$200.99</span>
            <span class="percentage">5.2%</span>
          </li>
          <li class="expense-item">
            <i class="bi bi-circle-fill category-indicator"></i>
            <span class="category-name">Education</span>
            <span class="amount-spent">$200.99</span>
            <span class="percentage">5.2%</span>
          </li>
          <li class="expense-item">
            <i class="bi bi-circle-fill category-indicator"></i>
            <span class="category-name">Debt Payments</span>
            <span class="amount-spent">$200.99</span>
            <span class="percentage">5.2%</span>
          </li>
          <li class="expense-item">
            <i class="bi bi-circle-fill category-indicator"></i>
            <span class="category-name">Personal Care</span>
            <span class="amount-spent">$200.99</span>
            <span class="percentage">5.2%</span>
          </li>
          <li class="expense-item">
            <i class="bi bi-circle-fill category-indicator"></i>
            <span class="category-name">Taxes</span>
            <span class="amount-spent">$200.99</span>
            <span class="percentage">5.2%</span>
          </li>
          <li class="expense-item">
            <i class="bi bi-circle-fill category-indicator"></i>
            <span class="category-name">Other</span>
            <span class="amount-spent">$200.99</span>
            <span class="percentage">5.2%</span>
          </li>
          
        </ul>
      </div>
    </div>
  </section>
</div>
