<section class="form-page-wrapper">
  <article class="goal-form-container">
    <h1>Edit Goal</h1>

    <div class="form-message-container">
      <div class="form-message mb-2">
        <!-- <h4 *ngIf="formInvalid">Please fill out all required fields</h4> -->
      </div>
    </div>

    <form class="goal-form">
      <div class="form-group">
        <label for="name">Month</label>
        <select class="form-control" id="month" required>
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>

        <label for="name">Year</label>
        <input type="number" class="form-control" id="year" placeholder="Enter year" min="2024" max="9999" pattern="[0-9]{4}" placeholder="2024" required>
      </div>

      <div class="form-group">
        <label for="goalAmount">Set Budget Goal:</label>
        <input type="number" class="form-control" id="goalAmount" name="goalAmount" placeholder="Enter goal amount" min="0.01" step="0.01" required>
      </div>
      <div class="form-button-wrapper">
        <button type="button" class="primary-button">Update</button>
      </div>
    </form>
  </article>
</section>
