.goal-form-container h1 {
    text-align: center;
}

@media (max-width: 800px) {
    .goal-form {
        grid-template-columns: 1fr;
        gap: unset;
    }

    .form-button-wrapper {
        /* Span all columns when screen width <= 800px */
        grid-column: 1 / -1;
    }

}