article{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.manage-goal-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

/* #goal-warning-label{
  color: var(--red-label);
}
   */
