@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.crud-form-container h1 {
    text-align: center;
    padding-bottom: 8px;
}

@media (max-width: 800px) {
    .crud-form {
        grid-template-columns: 1fr;
        gap: unset;
    }
    .form-button-wrapper{
          /* Span all columns when screen width <= 800px */
          grid-column: 1 / -1;
    }
    
}

