.crud-form-container h1 {
    text-align: center;
    margin-bottom: 28px;
}

.form-button-wrapper {
    /*Put button in last row, span 2 cols*/
    grid-column: 1 / span 2;
    /*Center it in the middle of the row*/
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 800px) {
    .crud-form {
        grid-template-columns: 1fr;
        gap: unset;
    }
    .form-button-wrapper{
          /* Span all columns when screen width <= 800px */
          grid-column: 1 / -1;
    }
    
}