<section class="page-wrapper">
  <div class="page-heading-container">
    <div class="header-container">
      <h1 class="page-title">Month's Overview</h1>
    </div>
    <div class="calender-button-container">
      <a href="#" class="primary-button calender-button">Month Year</a>
    </div>
  </div>

  <section class="transactions-container container">
    <div class="table-buttons-container">
      <a class="primary-button">Add New</a>
      <a class="primary-button">Sort By</a>
    </div>

   
    <table class="transactions-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Category</th>
          <th>Date</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Transaction 1</td>
          <td>Expense</td>
          <td>$50.00</td>
          <td>Food</td>
          <td>2024-04-25</td>
          
          <td class="button-cell">
            <a href="#" class="edit-transaction-button manage-table-button"
              ><i class="bi bi-pencil"></i
            ></a>
          </td>
          <td class="button-cell">
            <a href="#" class="delete-transaction-button manage-table-button"
              ><i class="bi bi-x-lg"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td>Transaction 2</td>
          <td>Income</td>
          <td>$200.00</td>
          <td>Salary</td>
          <td>2024-04-24</td>
          <td class="button-cell">
            <a href="#" class="edit-transaction-button manage-table-button"
              ><i class="bi bi-pencil"></i
            ></a>
          </td>
          <td class="button-cell">
            <a href="#" class="delete-transaction-button manage-table-button"
            ><i class="bi bi-x-lg"></i>
          </a>
          </td>
        </tr>
      </tbody>
    </table>


  </section>
</section>
