
.auth-form-container h1 {
    text-align: center;
    margin-bottom: 28px;
}
.form-button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}


.auth-form-container h1 {
    text-align: center;
    margin-bottom: 28px;
}
.form-button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Center the error message */
.form-message-container {
    text-align: center;
}

.form-message {
    display: inline-block; 
    color: var(--red-label); 
}

